body{
  font-family: helvetica-medium;
  background-color:#ffffff;
  text-align:center;
}
.body-align{
  text-align: center;
}
.title{
  text-align: center;
}
.titleClass, .titleClassA{
  font-size: 8vw;
  text-decoration: none;
  color:#2cfd7c;
}
p{
  color: #2cfd7c;
  font-size: 2vw;
}
footer{
  margin-top:80vw;
  font-size:2vw;
  color:#2cfd7c;
}
.footLinks{
  color:#2cfd7c;
}



/* this is a css comment */

.container {
  position: relative;
  width: 25%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border: 5px solid black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  .text {
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
}
