body{
  text-align: center;
}
.title{
  text-align: center;
}
.titleClass, .titleClassA{
  font-size: 8vw;
  text-decoration: none;
  color:#2cfd7c;
}
#premeBox, #premeStic18, #premeStic19, #premeDamStic, #premeMock{
  float: none;
  margin-left: 50px;
}
.boxLogo, .sticker18, .sticker19, .stickerDam, .mockStic{
  height: 300px;
  width: 300px;
}
.carousel-container, .carousel-container1, .carousel-container2, .carousel-container3, .carousel-container4{
  width:300px;
  margin:auto;
  border: 5px solid black;
  overflow: hidden;
  position: relative;
}
.carousel-slide, .carousel-slide1, .carousel-slide2, .carousel-slide3, .carousel-slide4{
  display:flex;
}
#prevB, #prevB1, #prevB2, #prevB3, #prevB4{
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}
#nextB, #nextB1, #nextB2, #nextB3, #nextB4{
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}
#firstCarousel, #secondCarousel, #thirdCarousel, #fourthCarousel, #fifthCarousel{
  float: left;
  margin-left: 5vw;
  margin-right: 5vw;
}
footer{
  margin-top:80vw;
  font-size:2vw;
  color:#2cfd7c;
}
.footLinks{
  color:#2cfd7c;
}
