#home{
  font-size: 8vw;
  text-decoration: none;
  color:#2cfd7c;
  float: center;
  
}
#premeBox, #premeStic18, #premeStic19, #premeDamStic{
  text-align: left;
}
.boxLogo, .sticker18, .sticker19, .stickerDam{
  height: 300px;
  width: 300px;
}
.carousel-container, .carousel-container1, .carousel-container2, .carousel-container3{
  width:300px;
  margin:auto;
  border: 5px solid black;
  overflow: hidden;
  position: relative;
}
.carousel-slide, .carousel-slide1, .carousel-slide2, .carousel-slide3{
  display:flex;
}
#prevB, #prevB1, #prevB2, #prevB3{
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}
#nextB, #nextB1, #nextB2, #nextB3{
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
}
#firstCarousel{
  float: left;
  margin-left: 5vw;
  margin-right: 5vw;
}
#secondCarousel{
  float: left;
  margin-left: 5vw;
  margin-right: 5vw;
}
#thirdCarousel{
  float: left;
  margin-left: 5vw;
  margin-right: 5vw;
}
#fourthCarousel{
  float: left;
  margin-left: 5vw;
  margin-right: 5vw;
}
