body{
  font-family: helvetica;
  list-style-position: inside;
}
#home{
  font-size: 8vw;
  text-decoration: none;
}
h1{
  font-size: 3vw;
  text-align: center;
  padding-top: 5vw;
  padding-bottom: 3vw;
}
h2{
  font-size: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
p, u, ol, li{
  font-size: 1.5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}
.email{
  font-size: 1.5vw;
}
#foot{
  padding-top: 8vw;
  font-size: 1vw;
}
